<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gametrex</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header id="header">
        <h1>Gametrex</h1>
        <nav class="navbar">
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="#games">Games</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="#blogs">Blogs</a></li>
            </ul>
        </nav>
        <div class="head-btn">
        <form action="/players/signin" method="get">
            <button class="btn-out" id="nav-btn">
                Signin
            </button>
        </form>
        <form action="/players/signup" method="get">
            <button id="nav-btn">
                Register
            </button>
        </form>
        </div>
    </header>