<div class="email">
    <h1>Subscribe to our newsletter</h1>
    <p>Get the latest news and updates from us</p>
    <form id="subscribeForm" action="/players/subscribe" method="post">
        <input type="email" id="subemail" name="subemail" placeholder="Enter your email">
        <button type="submit" onclick="sendEmail()">Subscribe</button>
    </form>
</div>