<div class="games" id="games">
    <h2>Popular Games</h2>
    <div class="card-container">
        <div class="card">
            <img src="images/gta v.png" alt="GTA V" />
            <h3>GTA V</h3>
            <p><a href="https://store.rockstargames.com/game/buy-gta-v" target="_blank">Buy Now</a></p>
        </div>
        <div class="card">
            <img src="images/valorant.jpeg" alt="VALORANT" />
            <h3>VALORANT</h3>
            <p><a href="https://playvalorant.com/" target="_blank">Download Now</a></p>
        </div>
        <div class="card">
            <img src="/images/Elden_Ring.jpg" alt="Witcher_3" />
            <h3>Eldern Ring</h3>
            <p><a href="https://en.bandainamcoent.eu/elden-ring/elden-ring/shop-now" target="_blank">Buy Now</a></p>
        </div>
    </div>
</div>