<div class="hnews" id="hnews">
    <div class="hnews-card">
        <h3> <%= title %> </h3>
        <p> <%= description %> </p>
        <a href="<%= url %>" target="_blank">Read more</a>
    </div>
</div>