<div class="video">
    <iframe width="80%" height="850px" src="https://www.youtube.com/embed/QL0LUaxWUOI?si=KqTQ-GXuhqL7T2kn&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>